.features {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 60px 10%;
  background: #f8f8f8;
  text-align: center;
}

.feature {
  width: 30%;
}

.feature img {
  width: 80px;
  margin-bottom: 20px;
}

.feature h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.feature p {
  color: #555;
  line-height: 1.5;
}
