#map {
  height: 350px;
  margin: 10px 40px;
  width: 70%;
  display: flex;
  border-radius: 10px;
  justify-content: center;
}
*{
  text-align: center;
}
/* h2 {
    color: #212529;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  } */