.custom-nav {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 5vh;
}

.custom-nav .nav-link {
  color: #0f0e0e;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  position: relative;
  transition: color 0.3s ease;
}

.custom-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 0%;
  height: 2px;
  background: #4572ef;
  transition: width 0.3s ease;
}

.custom-nav .nav-link:hover {
  color: #4572ef;
}

.custom-nav .nav-link:hover::after {
  width: 100%;
}
